
    <nav class="navbar">
        <div class="logo"><a href="/">SolveHive</a></div>
        <div class="nav-links">
            <a href="/problems">Problems</a>
            <a href="/contests">Contests</a>
            <a href="/signup">Sign Up</a>
            <a href="/login">Log In</a>
        </div>
    </nav>