<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f2f5;
        color: #333;
        margin: 0;
        padding: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .error-container {
        background-color: #f0f2f5;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 40px;
        max-width: 600px;
        width: 90%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .error-container h1 {
        font-size: 72px;
        margin: 0;
        color: #d83636;
        /* Bootstrap's danger color */
    }

    .error-container h2 {
        font-size: 24px;
        margin: 10px 0;
        color: #d53838;
    }

    .error-container a {
        color: #007bff;
        /* Bootstrap's primary color */
        text-decoration: none;
        font-weight: bold;
    }

    .error-container a:hover {
        text-decoration: underline;
    }
</style>

<body>
<div class="error-container">
    <h1>
        <% if(status>= 400 && status <= 500) { %>
                😞<%= status %>
                    <% } else if(status>= 200 && status < 300 ) {%>
                            🐰
                            <% } %>
    </h1>
    <h2>
        <%= message %>
    </h2>
    <h3>
        Look Up Here:
        <a href="/">
            go to home page
        </a>
    </h3>
</div>
</body>