

    <%- include('../layout/boilerplate.ejs') %>

    <body>
        <div class="home-container">
            <section class="section">
                <h2>Welcome to SolveHive</h2>
                <p>Discover a wealth of resources to enhance your coding skills. Whether you're preparing for interviews or just looking to practice, Coding Hub has something for everyone.</p>
                <div class="feature-cards">
                    <div class="card full-width">
                        <h3><a href="/problems">Coding Problems</a></h3>
                        <p>Tackle a variety of coding challenges ranging from easy to hard. Improve your problem-solving skills and prepare for technical interviews.</p>
                    </div>
                    <div class="card full-width">
                        <h3><a href="/contests">Upcoming Contests</a></h3>
                        <p>Get ready for exciting live coding challenges! Check out the schedule for upcoming contests, join the competition, and showcase your skills against fellow programmers. Stay ahead by participating in real-time events and elevate your coding prowess!</p>
                    </div>
                    
                    <div class="card full-width">
                        <h3><a href="/problem-of-the-day">Problem of the Day</a></h3>
                        <p>Discover today's top coding challenges from multiple platforms. Dive into comprehensive solutions, explore varied problem-solving techniques, and enhance your skills in algorithms and data structures. Perfect for boosting your coding expertise!</p>
                    </div>
                    
                    <div class="card full-width">
                        <h3><a href="#">Mock Test</a></h3>
                        <p>Explore detailed mock-test and explanations for various problems. Learn different approaches and improve your understanding.</p>
                    </div>
                </div>
            </section>
        </div>    
    </body>
