

    <%- include('../layout/boilerplate.ejs') %>
    
    <div class="home-container">
        <section class="section">
            <h2>Welcome to SolveHive</h2>
            <p>Discover a wealth of resources to enhance your coding skills. Whether you're preparing for interviews or just looking to practice, Coding Hub has something for everyone.</p>
            <div class="feature-cards">
                <div class="card">
                    <h3><a href="/problems">Coding Problems</a></h3>
                    <p>Tackle a variety of coding challenges ranging from easy to hard. Improve your problem-solving skills and prepare for technical interviews.</p>
                </div>
                <div class="card">
                    <h3><a href="/contests">Upcoming Contests</a></h3>
                    <p>Participate in live coding contests and compete with others. Stay updated on upcoming competitions and test your skills in real-time.</p>
                </div>
                <div class="card full-width">
                    <h3><a href="#">Solutions</a></h3>
                    <p>Explore detailed solutions and explanations for various problems. Learn different approaches and improve your understanding of algorithms and data structures.</p>
                </div>
            </div>
        </section>
    </div>

