<%- include("../layout/boilerplate.ejs") %>

<body>
    <div class="login-signup-container">
        <div class="login-signup-form-container">
            <h2>Recover Password</h2>
            <form id="loginForm" method=post action="/recoverPassword">
                <div class="form-group">
                    <label for="email">Email:
                    </label>
                    <input type="email" id="email" name="email" required>
                </div>
                <button type="submit" class="button">submit</button>
            </form>
            <p>Don't have an account? <a href="/signup" class="link">Sign up here</a></p>
        </div>
    </div>
</body>
