<%- include("../layout/boilerplate.ejs") %>

<body>
    <div class="login-signup-container">
        <div class="login-signup-form-container">
            <h2>Reset Password</h2>
            <form id="loginForm" action='/resetpassword' method='post'>
                <div class="form-group">
                    <label for="token">Reset Token:</label>
                    <input type="text" id="token" name="token" required autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="password">New Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" class="button">submit</button>
            </form>
        </div>
    </div>
</body>
