<%- include("../layout/boilerplate.ejs") %>

<div class="login-signup-container">
    <div class="login-signup-form-container">
        <h2>Sign Up</h2>
        <form id="signupForm">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="button">Sign Up</button>
        </form>
        <p>Already have an account? <a href="/login" class="link">Login here</a></p>
    </div>
</div>
