
    <%- include("../layout/boilerplate.ejs") %>

    <body>
        <div class="contest-platform-container">
            <div class="platform-lists feature-cards">
                <div class="card">
                    <h3><a href="#">LeetCode</a></h3>
                    <p>See all the upcoming contests list in this platform.</p>
                </div>
                <div class="card">
                    <h3><a href="/contests/gfg">Geeks for Geeks</a></h3>
                    <p>Participate in live coding contests and compete with others. Stay updated on upcoming competitions and test your skills in real-time.</p>
                </div>
                <div class="card">
                    <h3><a href="/contests/codeforces">Codeforces</a></h3>
                    <p>Explore detailed solutions and explanations for various problems. Learn different approaches and improve your understanding of algorithms and data structures.</p>
                </div>
            </div>
        </div>
    </body>
